<!DOCTYPE html>
<html>
<head>
	<title>Angular Slider</title>
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<meta title="Angular Simple Dyanamic Slider">
</head>

<body>
	<div class="wrapper" ng-app="slider_module">
		<div id="slider_main" ng-controller="imgslider_ctlr">
          <div> 
		    <div id="slider" slider-directive>
               <div class="item" ng-repeat="imgdata in imglists">
                    <img ng-src={{imgdata.url}}>
					<h2>{{imgdata.bannertxt}}</h2>
               </div>
            </div>
			<div class="arrow">
				<span class="prev_arrow" ng-click='onSlide(-1)'><</span>
				<span class="nxt_arrow" ng-click='onSlide(1)'>></span>
			</div>
			<div class="slide_nav">
				<ul>
					<li ng-repeat="imgdata in imglists" ng-class="$index==slideindex ? 'selectitem' : '' " ng-click="onSlideNav($event,$index)"></li>
				</ul>
			</div>
          </div>
			
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
	<script src="js/app.js"></script>
</body>

</html>